<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/CSS/stars.css">
<script>
    const mapToken='<%=process.env.MAPBOX_TOKEN%>';
    const camp= <%-JSON.stringify(camp)%> ;
</script>
<div class="row">
<div class="col-md-6 mb-3">

    
  


    <div id="carousel" class="carousel slide">
        <%if(camp.images.length>1){%>
        <div class="carousel-indicators">
            <%for(let im=0;im< camp.images.length;im++){%>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="<%=im%>" 
                <%if(im==0){%> 
                class="active" 
                aria-current="true"
                <%}%>
                 aria-label="Slide"></button>
            <%}%>
          </div>
        <%}%>
        <div class="carousel-inner">
            <%for(let im=0;im< camp.images.length;im++){%>
                <div class="carousel-item 
                            <%if(im==0){%>
                            active
                            <%}%>"
                >
                    <img src="<%=camp.images[im].url%>" class="d-block w-100" alt="...">
                </div>
            <%}%>
        </div>
        <%if(camp.images.length>1){%>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        <%}%>
      </div>
      

      
<div class="card">
<div class="card-body">
    <h5 class="card-title"><%=camp.title%></h5>
    
    <h6 class="card-subtitle">Type: <%=camp.otype%></h6>
    <p><%=camp.description%></p>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item text-muted"> <%=camp.location%></li>
    <li class="list-group-item "> <a href="https://<%=camp.website%>">Know More</a> </li>
    <li class="list-group-item ">Submitted by <%=camp.author.username%></li>
</ul>
<table class="table table-bordered table-hover  ">
    <thead class="thead-light">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
        <%for(let i of camp.stockAvail){%>
      <tr>
        <td><%=i.btype%></td>
        <td><%=i.qty%></td>
      </tr>
      <%}%>
    </tbody>
  </table>
<%if(currentUser && currentUser.equals(camp.author)){%>
<div class="card-body ">
    <a class="btn btn-info" href="/campgrounds/<%=camp._id%>/edit">Edit</a>
    <form class="d-inline" action="/campgrounds/<%=camp.id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
<%}%>
<div class="card-footer">
    2 days ago
</div>


</div>

</div>



<div class="col-md-6">
    <div class="mb-4">
    <div id='map' ></div>   
</div>
    <%if(currentUser){%>
    <h2>Leave a Review</h2>
<form action="/campgrounds/<%=camp._id%>/reviews" method="POST" class="mb-3 pls-validate" novalidate>
<div class="mb-1">

   
    <fieldset class="starability-checkmark">
        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="rating" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="rating" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="rating" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="rating" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="rating" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>

</div>
<div class="mb-2">
    <label class="form-label" for="body">Review</label>

    <textarea class="form-control" name="body" id="body" cols="30" rows="3" required></textarea>

    <div class="valid-feedback">
        Looks Good!
    </div>
    <div class="invalid-feedback">
        Please enter a review text
    </div>
</div>
    <button class="btn btn-success">Submit</button>
    <br>
</form>
<%}%>
    <h3>Hear what people have to say about <%=camp.title%> </h3>
    <%if(camp.reviews.length<=0){%>
        <div class="card mb-3">
        <div class=" card-body">
        No reviews yet!
        </div>
        </div>
    <%}else{%>

    <%for(let rev of camp.reviews){%>
        <div class="card mb-3">
        <div class="card-body ">
  
            <h5 class="card-title"><%=rev.author.username%></h5>
            <p class="starability-result" data-rating=<%=rev.rating%>>
                Rated: <%=rev.rating%> stars
            </p>
            <!-- <h6 class="card-subtitle mb-2 text-muted">by <%=rev.author.username%></h6> -->
            <p>Review: <%=rev.body%></p>
             <%if(currentUser && currentUser.equals(rev.author)){%>
            <form action="/campgrounds/<%=camp._id%>/reviews/<%=rev._id%>?_method=DELETE" method="POST">
                <button class=" btn btn-sm btn-danger ">Delete</button>
            </form>
            <%}%>
        
           

        </div>
    </div>
    <%}%>
    <%}%>



    
</div>

</div>

<script src="/JS/showMap.js"></script>